<button type='button'
        style="margin: 80px 10px 10px 10px"
        (click)="click()">
  Reload Resources
</button>


<ejs-schedule width='100%' height='750px'
              [rowAutoHeight]="true"
              [resources]="resources"
              [readonly]="true"
              [eventSettings]="eventSettings"
              (eventRendered)="eventRendered($event)"
              [cssClass]="'syncfusion-scheduler'"
              [selectedDate]="selectedDate"
              (navigating)="navigating($event)">
  <e-views>
    <e-view displayName="Monthly"
            option="Month"
            [isSelected]="true"
            [eventTemplate]="eventTemplate">
      <ng-template #eventTemplate let-data>
        <div class="calendar-event">
          <div>{{data.City}}</div>
        </div>
      </ng-template>
    </e-view>

    <e-view
      displayName="Grouped"
      option="TimelineWeek"
      [group]="groupByGroups"
      [resourceHeaderTemplate]="eventTemplate2"
      [timeScale]="timeScale"
    >
      <ng-template #eventTemplate2 let-data>
        <div>{{data.resourceData['City']}}</div>
      </ng-template>
    </e-view>
  </e-views>

  <!-- Header template -->
  <ng-template #quickInfoTemplatesHeader let-data>
    <div class="quick-info-header">
      <div class="quick-info-header-content" [ngStyle]="getHeaderStyles(data)">
        <div class="duration-text">{{getHeaderDetails(data)}}</div>
      </div>
    </div>
  </ng-template>
  <!-- Content Template -->
  <ng-template #quickInfoTemplatesContent let-data>
    <ng-container [ngTemplateOutlet]="eventContent"
                  [ngTemplateOutletContext]="{data:data}"></ng-container>
  </ng-template>

  <ng-template #eventContent let-data="data">
    <div class="quick-info-content">
      <div class="event-content">
        <div>
          <label>Data</label>:
          <span>{{data.City}}</span>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-schedule>


